body{
width: 600px;
margin: auto;
font-family:'Times New Roman', Times, serif;

}

header{
background-color: beige;
border: none solid beige;
border-radius: 5px;
text-align: center;
margin: 10px;
padding-bottom: 20px;
padding-top: 5px;
color: rgb(136, 115, 90);

}

h1{
    font-size: 40px;
}

h2{
    font-size: 27px;
}

nav{
text-align: center;
}
